@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.accordion h1 {
  text-align: center;
}

input {
  position: fixed;
  opacity: 0;
  z-index: -1;
}

.accordion-wrapper {
  overflow: hidden;
  width: 1130px;
  margin: 0 auto;
  font-family: "Quicksand", serif;
}

.accordion-wrapper-new {
  overflow: hidden;
  width: 340px;
  margin: 0 auto;
}

.accordion {
  width: 100%;
  background: #f8f8f8;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 20px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 19.2px;
  font-weight: 400;
  font-family: "Poppins", serif !important;
}

.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transform: rotate(-90deg);
  position: relative;
  right: 15px;
  border-radius: 20px;
}

.accordion-content {
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #f8f8f8;
  border-radius: 20px;
  font-size: 15.75px;
}

input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  right: 0px;
}

input:checked ~ .accordion-content {
  max-height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
}
.accordion-content ul li {
  list-style: decimal;
}
.title {
  font-size: 3rem;
  margin: 2rem 0;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.question h3 {
  font-size: 1.8rem;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.toggle-buttons {
  text-align: center;
  margin-top: 16px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .accordion-wrapper {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
  }
}
